/* MISE EN PAGE DU COMPTE A REBOURS */
.CompteRebours {
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Muli', sans-serif;
	overflow: hidden;
	margin: 0;
	text-align: center;
}
.CompteRebours h1 {
	font-size: 1.5rem;
	margin: 15px 0px 5px 0px;
	font-weight: 500;
}
.CompteReboursAffichage {
	display: flex;
	margin: 0px 0px 15px 0px;	
}
.time {
	display: flex;
	font-size: 1.2em;
	flex-direction: column;
	margin: 0 15px;
}
#jours, #heures, #minutes, #secondes {
	border: 1px solid white;
	padding: 5px;
    border: 1px solid #fff;
    padding: 17px 5px;
    font-family: 'Helvetica';
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 900;
    width: 60px;
    height: auto;
}
#infoTime {
	font-size: 12px;
}
#espaceTemps {
	padding: 22px 0;
    font-size: 20px;
    font-weight: 600;
}
.temps {
	padding: 5px;
}
.temps h1 {
	margin-bottom: 0;
}

/* Responsive */
@media all and (max-width:780px) {
	#infoTime {font-size: 9px;}
	#jours, #heures, #minutes, #secondes {
		padding: 12px 5px;
		font-family: 'Helvetica';
		font-size: 13px;
		margin-bottom: 5px;
		font-weight: 900;
		width: 47px;
		height: auto;
	}
	.CompteReboursAffichage {
		margin: 0 0 10px 0;
	}
}