/* Google Font */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

/* Mise en page des différentes couleurs de mes pages */
:root {
    --ecriture: #fff;
    --background: #528aa1;
    --bg-cours: #3f5f6c;
    --color-cours: #aaa;
    --green: #5ab036;
    --separation-table: rgba(255, 255, 255, 0.349);
}

/* Mise en page de ma page */
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* Animations pour tout le texte de la page */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}
/* Mise en page de roulette */
html::-webkit-scrollbar {
    width: 1rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 5rem;
}
body {
    background: var(--ecriture);
    overflow-x: hidden;
}
body::before {
    background: url(../img/FondTrick&Marty.jpg) top right no-repeat;
    background-size: cover;
    position: fixed;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    z-index: -1;
}



/* Mise en page de toutes les sections de la page */
section {
    padding: 3rem 9%;
}


/* MISE EN PAGE DE MON MENU */
nav {
    background: var(--background);
    position: fixed;
    width: 100%;
    z-index: 1000;
}
nav:after {
    content: '';
    clear: both;
    display: table;
}
/* Différentes caractéristiques du Titre de mon menu */
nav .logo a {
    float: left;
    color: var(--ecriture);
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
    text-decoration: none;
}
/* Ajout de couleur sur une partie de mon Titre */
nav strong {
    color: var(--green);
}
nav ul {
    float: right;
    margin-right: 40px;
    list-style: none;
    position: relative;
}
nav ul li {
   float: left;
   display: inline-block;
   background: var(--background);
   margin: 0 5px;
}
nav ul li a {
    color: var(--ecriture);
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
}
/* Mise en page du menu active et du menu au contact de la souris */
nav ul li a:hover,
nav ul li a.active,
nav ul li label.active,
label .active {
    border-radius: 5px;
    background: var(--green);
    color: #fff;
    width: 32%;
}
/* Mise en page du sous-menu actif */
nav ul li ul li a.active {
    background: none;
    color: var(--green);
    font-weight: bold;
}
nav ul ul li a:hover {
    background: none;
    color: green;
}
nav ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid var(--green);
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}
nav ul ul ul {
    border-top: none;
}
nav ul li:hover > ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li {
    position: relative;
    margin: 0px;
    width: 100%;
    float: none;
    display: list-item;
    border-bottom: 1px solid var(--ecriture);
}
nav ul ul li a {
    line-height: 50px;
}
nav ul ul ul li {
    position:relative;
    top: -60px;
    left: 150px;
}
.show,.icon,input {
    display: none;
}
.fa-plus {
    font-size: 15px;
    margin-left: 40px;
}

/* CREATION DU DARK MODE */
nav .theme .changeTheme {
    cursor: pointer;
    position: fixed;
    color: var(--ecriture);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 10px;
}
nav .theme #changeTheme {
    background: linear-gradient(#ffffff00, #ffffff00), url(../img/icon-light-mode.webp) no-repeat;
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
}

/* RESPONSIVE */
/* Mise en page du bouton pour le format Smartphone */
@media all and (max-width:450px) {
    nav .logo a {
        font-size: 24px;
    }
}
/* Mise en page pour tablette */
@media screen and (min-width:950px) and (max-width:1056px) {
    nav .logo a {
        padding-left: 40px;
        width: 40%;
    }
    nav ul {
        margin-right: 10px;
    }
    nav lu li a {
        line-height: 70px;
        padding: 7px 11px;
    }
}
/* Mise en page pour le bouton du Menu */
@media all and (max-width:980px) {
    nav ul {
        margin-right: 0px;
        width: 100%;
    }
    nav .logo a {
        padding-left: 40px;
        width: 100%;
    }
    .show + a, ul {
        display: none;
    }
    nav ul li,nav ul ul li {
        display: block;
        width: 100%;
    }
    .show {
        display: block;
        color: var(--ecriture);
        font-size: 18px;
        padding: 0 15px;
        line-height: 70px;
        cursor: pointer;
    }
    .show-active {
        color: var(--green);
        font-weight: bold;
    }
    label .active {
        color: var(--green);
    }
    .icon {
        display: block;
        color: var(--green);
        position: absolute;
        top: 0;
        right: 25px;
        line-height: 70px;
        cursor: pointer;
        font-size: 25px;
    }
    nav ul ul {
        top: 70px;
        border-top: 0px;
        float: none;
        position: static;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    nav ul ul a {
        padding-left: 40px;
    }
    nav ul ul ul a {
        padding-left: 80px;
    }
    nav ul ul ul li {
        position: static;
    }
    [id^=btn]:checked + ul {
        display: block;
    }
    nav ul ul li {
        border-bottom: 0px;
    }
    span.cancel:before {
        content: '\f00d';
    }
}


.heading {
    text-align: center;
    margin-bottom: 2rem;
}
.heading span {
    color: var(--green);
    font-size: 1.5vw;
}
.heading h1 {
    font-size: 2.5vw;
    color: var(--ecriture);
    padding-bottom: 1vw;
    margin: 1vw;
}
.cours .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(40rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem;
}
.cours .box-container .box {
    border-radius: 1rem;
    overflow: hidden;
    background: var(--bg-cours);
}
.cours .box-container .box:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}
.cours .box-container .box .image {
    height: 20rem;
    overflow: hidden;
    width: 100%;
}
.cours .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.cours .box-container .box .content {
    padding: 2rem;
    text-align: center;
    margin: auto;
    display: grid;
    align-items: center;
    align-content: center;
}
.cours .box-container .box .content h3 {
    font-size: 2rem;
    color: var(--ecriture);
}
.cours .box-container .box .content p {
    padding: 1rem 0;
    font-size: 1.4rem;
    color: var(--color-cours);
    line-height: 2;
}
.cours .box-container .box .content a {
    font-size: 1.7rem;
    color: var(--green);
}
.cours .box-container .box .content a:hover i {
    padding-left: 1rem;
}
.cours .box-container .box .content a i {
    padding-right: .5rem;
}
.cours .page .lecons .separation {
    border: 0;
    border-top: 1px solid var(--ecriture);
    margin: 50px;
}
.cours .lien-h4 {
    text-align: left;
    color: var(--ecriture);
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-family: emoji;
}
.cours .lien-p {
    text-align: justify;
    color: var(--ecriture);
    font-size: 1.4vw;
    padding-left: 2rem;
    padding-bottom: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.3;
}
.cours .lien-p a {
    text-align: justify;
    color: var(--green);
    font-size: 1.4vw;
    padding-bottom: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.3;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
.cours .lien-p a:hover {
    color: goldenrod;
}
.cours .moi-p {
    text-align: justify;
    color: var(--ecriture);
    font-size: 1.4vw;
    padding-bottom: 2rem;
    font-family: "Georgia","Times","Times New Roman",serif;
    line-height: 1.3;
}
.cours .moi-p a {
    text-align: justify;
    color: var(--green);
    font-size: 1.4vw;
    padding-bottom: 2rem;
    font-family: "Georgia","Times","Times New Roman",serif;
    line-height: 1.3;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
.cours .moi-p a:hover {
    color: goldenrod;
}

/* RESPONSIVE */
@media all and (max-width:800px) {
    .heading h1 {
        font-size: 4vw;
        padding-bottom: 3vw;
    }
    .heading span {
        font-size: 3vw;
    }
    .cours .lien-h4 {
        font-size: 4vw;
    }
    .cours .lien-p {
        font-size: 3.4vw;
        padding-bottom: 1rem;
        padding-left: 1rem;
    }
    .cours .lien-p a {
        font-size: 3.4vw;
    }
    .cours .moi-p, .cours .moi-p a {
        font-size: 3.4vw;
    }
    .cours .box-container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
            grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
        gap: 1.5rem;
    }
}




/* MISE EN PAGE DU FOOTER */
footer {
    position: inherit;
    background: var(--bg-cours);
    padding: 10px 10px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
}
footer .social_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    color: white;
    padding: 0;
    list-style: none;
}
footer .social_icon li a {
    font-size: 20px;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a p:hover {
    transform: none;
    color: #b2deeb;
    cursor: pointer;
}
footer p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 15px;
}
@media (max-width: 768px) {
    footer p {
        font-size: 10px;
    }
}








